<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <br><br><br><br><br><br>
  <font size="15">
  	<h1>Vous avez deja un compte</h1>
  	<h1><%= link_to "Sign in!", session_new_path %></h1>
  </div>
</div>