<div class="container">
	<div class="center jumbotron">
		<h1>Evenement :</h1>
		<h1><%= @event.description %></h1> <br><br>
		<h2>Endroit :</h2>
		<h2><%= @event.place %></h2>
		<h2>Date :</h2>
		<h2><%= @event.date %></h2>
		<%=   %>
	</div>
</div>